<!DOCTYPE html>
<html lang="en">

<head>
  {% load static %}
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="{% static 'css/main.css' %}" />
  <link rel="stylesheet" href="{% static 'css/table.css' %}" />


  <title>Search and Filter Template</title>
</head>

<body>
  <div class="dark-overlay"></div>
  <input type="hidden" id="count" value="{{ count }}">
  <div class="content">
    <p><a href="/">Mapping Schizophrenia's Cellular Etiology: Integrating snRNAseq and GWASs</a></p>
    <h3p>Welcome to our platform, where we offer four specialized tables that allow you to explore gene specificity
      ranks and their p-values in relation to schizophrenia. Tables can be tailored based on different thresholds for
      p-values, specificity ranks, or gene names.

      To sort tables by a specific column, simply click on the column header. Clicking the column header again will
      reverse the sort order. For information on a specific gene or value, use the search box located above the table. 
      </h3>
  </div>
  <div id="container">
    <form id="form" action="{% url 'index' %}" method="get">
      <span id="lazy_load">Loading . . .</span>
      <div id="search_filter">
        <select id="visualization" class="dropdown" name="visualization">
          <option value="option0" selected hidden disabled>Select Option</option>
          <option value="option5" {% if visualization == 'option5' %}selected{% endif %}>Cluster Information</option>
          <option value="option3" {% if visualization == 'option3' %}selected{% endif %}>Specificity Profile of a Gene
            Across Clusters</option>
          <option value="option1" {% if visualization == 'option1' %}selected{% endif %}>Cluster-Specific Based
            on -log(p-value)</option>
          <option value="option2" {% if visualization == 'option2' %}selected{% endif %}>Gene Specificity in Selected
            Cluster
          </option>
          <option value="option4" {% if visualization == 'option4' %}selected{% endif %}>Gene P-value in Selected Cluster
          </option>
        </select>

        <input name="scz_2022_p" type="text" id="textInput1" placeholder="-log(P-Value) Threshold"
          value="{{ scz_2022_p }}">
        <input name="spe_rank" type="text" id="textInput2" placeholder="Specificity Rank" value="{{ spe_rank }}">
        <input name="cluster" type="text" id="textInput3" placeholder="Cluster ID" value="{{ cluster }}">
        <input name="gene" type="text" id="textInput4" placeholder="Gene" value="{{ gene }}" autocomplete="off">
        <input id="search_button" type="submit" value="search">
        <ul id="suggestionList"></ul>
      </div>
    </form>
    <span>
      <div id="description"> </div>
      <div id = "download_button_container"> </div>
    </span>

    <div id="results"></div>
  </div>


  <script src="{% static 'js/table.js' %}"></script>

  <script>
    var gridData = [];
    var gridColumns = [];
    
    {% if visualization == 'option1' %}
      gridColumns = ["Name", "Gene Number", "Cluster", "Specificity Rank", "Specificity Value"];
      {% for item in results %}
        gridData.push(["{{ item.name }}", {{ item.gene }}, {{ item.cluster }}, {{ item.spe_rank }}, {{ item.spe_val }}]);
      {% endfor %}
    {% endif %}
    {% if visualization == 'option2' %}
      gridColumns = ["Name", "Gene Number", "Specificity Rank", "Specificity Value"];
      {% for item in results %}
        gridData.push(["{{ item.name }}", {{ item.gene }}, {{ item.spe_rank }}, {{ item.spe_val }}]);
        {% endfor %}
    {% endif %}
    {% if visualization == 'option3' %}
      gridColumns = ["Cluster", "Gene Number", "Specificity Rank", "Specificity Value"];
      {% for item in results %}
        gridData.push([{{ item.cluster }}, {{ item.gene }}, {{ item.spe_rank }}, {{ item.spe_val }}]);
      {% endfor %}
    {% endif %}
    {% if visualization == 'option4' %}
      gridColumns = ["Name",  "Gene Number", "-log (p-Value)", "Specificity Rank", "Specificity Value"];
      {% for item in results %}
        gridData.push(["{{ item.name }}", {{ item.gene }}, {{ item.scz_2022_p_log }}, {{ item.spe_rank }}, {{ item.spe_val }}]);
        {% endfor %}
    {% endif %}
    {% if visualization == 'option5' %}
      gridColumns = ["Name", "Gene Number", "p-Value", "-log (p-Value)", "Specificity Rank", "Specificity Value"];
      {% for item in results %}
        gridData.push(["{{ item.name }}", {{ item.gene }}, {{item.scz_2022_p}}, {{ item.scz_2022_p_log }}, {{ item.spe_rank }}, {{ item.spe_val }}]);
        {% endfor %}
    {% endif %}

    {% if visualization != 'option0' %}
      document.addEventListener('DOMContentLoaded', function () {setDownloadInfo (gridColumns, gridData)})
    {% endif %}

    new gridjs.Grid({
      pagination: {
        limit: 30,
        summary: false
      },
      sort: true,
      fixedHeader: true,
      search: true,
      columns: gridColumns,
      data: gridData,
    style: {
      table: {
        'border': '2px solid rgb(39, 42, 47)',
          'background-color': 'rgba(0, 0, 0, 0)'
      },
      th: {
        'color': '#fff',
          'border': '2px solid #1b9d8c',
            'text-align': 'center',
              'background-color': 'rgba(16, 89, 80, 0.671)'
      },
      td: {
        'background-color': '#080c13',
          'text-align': 'center',
            'color': 'rgb(144, 167, 174)',
              'border': '2px solid rgb(39, 42, 47)',
      }
    }
    }).render(document.getElementById("results"));


  </script>



  <script src="{% static 'js/main.js' %}"></script>
  <script src="{% static 'js/gene_filter.js' %}"></script>
  <script src="{% static 'js/csv.js' %}"></script>
</body>

</html>