<!DOCTYPE html>
<html lang="en">

<head>
  {% load static %}
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="{% static 'css/main.css' %}" />
  <link rel="icon" type="image/x-icon" href="{% static 'img/logo.png' %}">
  <link rel="apple-touch-icon" href="{% static 'img/logo.png' %}">

  <title>Search and Filter Template</title>
</head>

<body>
  <div class="dark-overlay"></div>
  <input type="hidden" id="count" value="{{ count }}">
  <div class="content">
    <p>Mapping Schizophrenia's Cellular Etiology: Integrating snRNAseq and GWASs</p>
    <h3p>Welcome to our platform, where we offer four distinct visualization options tailored to unveil the intricacies
      of schizophrenia genetics. Simply select your preferred visualization, and a corresponding explanation will guide
      your exploration.
      </h3>
  </div>
  <div id="container">
    <form id="form" action="{% url 'index' %}" method="get">
      <span id="lazy_load">Loading . . .</span>
      <div id="search_filter">
        <select id="visualization" class="dropdown" name="visualization">
          <option value="option0" selected hidden disabled>Select Option</option>
          <option value="option1" {% if visualization == 'option1' %}selected{% endif %}>Cluster-Specific Heat Map Based on -log(p-value)</option>
          <option value="option2" {% if visualization == 'option2' %}selected{% endif %}>Gene Specificity in Selected
            Cluster
          </option>
          <option value="option3" {% if visualization == 'option3' %}selected{% endif %}>Specificity Profile of a Gene Across Clusters</option>
          <option value="option4" {% if visualization == 'option4' %}selected{% endif %}>Gene P-value in Selected Cluster</option>
        </select>
        <select id="sort" class="dropdown" name="sort">
          <option value="" disabled selected hidden>Sort by</option>
          <option value="spe_rank" {% if sort == 'spe_rank' %}selected{% endif %}>Specificity Rank</option>
          <option value="-scz_2022_p_log" {% if sort == '-scz_2022_p_log' %}selected{% endif %}>P-Value</option>
        </select>
        <input name="scz_2022_p" type="text" id="textInput1" placeholder="-log(P-Value) Threshold" value="{{ scz_2022_p }}">
        <input name="spe_rank" type="text" id="textInput2" placeholder="Specificity Rank" value="{{ spe_rank }}">
        <input name="cluster" type="text" id="textInput3" placeholder="Cluster ID" value="{{ cluster }}">
        <input name="gene" type="text" id="textInput4" placeholder="Gene" value="{{ gene }}">
        <input id="search_button" type="submit" value="search">
      </div>
    </form>
    <div id="description">
    </div>

  </div>


  <div id="results">

    {% if visualization == 'option1' %}
    {{ graph|safe }}
    {% elif visualization == 'option2' or visualization == 'option4' %}
    <img class="graph" src="data:image/png;base64,{{ graph }}" />
    {% elif visualization == 'option3' %}
    <img class="graph" src="data:image/png;base64,{{ graph }}" />
    {% endif %}

  </div>



  <script src="{% static 'js/main.js' %}"></script>
</body>

</html>