<!DOCTYPE html>
<html lang="en">

<head>
  {% load static %}
  {% load custom_filters %}

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="{% static 'css/main.css' %}" />
  <link rel="stylesheet" href="{% static 'css/table.css' %}" />

  <title>Search and Filter Template</title>
</head>


<body>
  <canvas id="canvas"></canvas>
  <div class="dark-overlay"></div>
  <input type="hidden" id="count" value="{{ count }}">
  <div class="content">
    <p><a href="/">Mapping Schizophrenia's Cellular Etiology: Integrating snRNAseq and GWASs</a></p>
    <h3p>Welcome to our platform, where we offer four specialized search options that allow you to cell types, gene specificity 
      across cell types, and phenotypic associations for schizophrenia and other polygenic phenotypes. To sort tables by a specific 
      column, simply click on the column header. Clicking the column header again will reverse the sort order. For information on a specific gene or value, use the search box located above the table.
      </h3>
  </div>
  <div id="container">
    <form id="form" action="{% url 'index' %}" method="get">
      <div id="search_filter">
        <select id="visualization" class="dropdown" name="visualization">
          <option value="option0" selected hidden disabled>Select Option</option>
          <option value="option1" {% if visualization == 'option1' %}selected{% endif %}>Cell type Information</option>
          <option value="option2" {% if visualization == 'option2' %}selected{% endif %}>Gene specificity across clusters - tabular view</option>
          <option value="option3" {% if visualization == 'option3' %}selected{% endif %}>Gene specificity across clusters - barplot</option>
          <option value="option4" {% if visualization == 'option4' %}selected{% endif %}>Phenotype search</option>
        </select>

        <input name="cluster" type="text" id="input_cluster_id" placeholder="Cluster ID" value="{{ cluster }}">
        <input name="gene" type="text" id="input_gene" placeholder="Gene" value="{{ gene }}" autocomplete="off">

        <select id="phenotype" class="dropdown" name="phenotype">
          <option value="option0" selected hidden disabled>Select Category</option>
          <option value="1" {% if phenotype == '1' %}selected{% endif %}>Schizophrenia (Trubetskoy et al. 2022)</option>
          <option value="2" {% if phenotype == '2' %}selected{% endif %}>Alcohol per week (Saunders et al. 2018)</option>
          <option value="3" {% if phenotype == '3' %}selected{% endif %}>Sleep per night (Dashti et al. 2019)</option>
          <option value="4" {% if phenotype == '4' %}selected{% endif %}> Multiple Sclerosis (International Multiple Sclerosis Genetics Consortium 2019)</option>
          <option value="5" {% if phenotype == '5' %}selected{% endif %}>Alzheimer's Disease (Bellenguez et al. 2022)</option>
        </select>

        <input id="search_button" type="submit" value="search">

        <ul id="suggestionList"></ul>
      </div>
    </form>
    <span id="dl_and_desc">
      <div id="description"> </div>
      <div id="download_button_container"> </div>
    </span>
    <span id="lazy_load">
      <p>LOADING</p>
      <svg version="1.1" id="L7" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
        y="0px" viewBox="0 0 100 100" enable-background="new 0 0 100 100" xml:space="preserve">
        <path fill="#fff" d="M31.6,3.5C5.9,13.6-6.6,42.7,3.5,68.4c10.1,25.7,39.2,38.3,64.9,28.1l-3.1-7.9c-21.3,8.4-45.4-2-53.8-23.3
      c-8.4-21.3,2-45.4,23.3-53.8L31.6,3.5z">
          <animateTransform attributeName="transform" attributeType="XML" type="rotate" dur="2s" from="0 50 50"
            to="360 50 50" repeatCount="indefinite" />
        </path>
        <path fill="#fff" d="M42.3,39.6c5.7-4.3,13.9-3.1,18.1,2.7c4.3,5.7,3.1,13.9-2.7,18.1l4.1,5.5c8.8-6.5,10.6-19,4.1-27.7
      c-6.5-8.8-19-10.6-27.7-4.1L42.3,39.6z">
          <animateTransform attributeName="transform" attributeType="XML" type="rotate" dur="1s" from="0 50 50"
            to="-360 50 50" repeatCount="indefinite" />
        </path>
        <path fill="#fff" d="M82,35.7C74.1,18,53.4,10.1,35.7,18S10.1,46.6,18,64.3l7.6-3.4c-6-13.5,0-29.3,13.5-35.3s29.3,0,35.3,13.5
      L82,35.7z">
          <animateTransform attributeName="transform" attributeType="XML" type="rotate" dur="2s" from="0 50 50"
            to="360 50 50" repeatCount="indefinite" />
        </path>
      </svg>
    </span>
    <div id="additional_info"></div>
    <div id="results">{% if graph %}
      {{ graph|safe }}
      {% endif %}</div>



        <footer>
        <p>Developed by: Naghmeh Shahverdi and Laramie Duncan</p>
        <p>Update/maintenance: Psy-map team (psymap@gmail.com)</p>
        <p>Stanford University, Department of Psychiatry and Behavioral Sciences</p>
        </footer>
  </div>



  <script src="{% static 'js/table.js' %}"></script>
  <script src="{% static 'js/bg.js' %}"></script>

  <script>
    const parser = new DOMParser();
    const doc = parser.parseFromString("{{ additional_info }}", 'text/html');
    additional_info.innerHTML = doc.body.textContent;


    {% if count != 0 and count != None %}
    var gridData = [];
    var gridColumns = [];
    {% if visualization == 'option3' %}

    // results.innerHTML= '<img class="graph" src="data:image/png;base64,{{ results }}" />'

    {% elif visualization == 'option2' %}
    gridColumns = [{ id: "cluster", name: gridjs.html('<div title="{{ columns_desc.cluster }}">Cell</br>type</div>') },
    { id: "super_cluster", name: gridjs.html('<div title="{{ columns_desc.super_cluster }}">Supercluster</div>') },
    { id: "p_value", name: gridjs.html('<div title="{{ columns_desc.p_value }}">P-value</br>(schizophrenia)</div>') },
    {id: "specificity_value", name: gridjs.html('<div title="{{ columns_desc.specificity_value }}">Specificity</br>Value</div>') },
    { id: "enrichment_score", name: gridjs.html('<div title="{{ columns_desc.enrichment_score }}">Enrichment</br>Score</div>') },
    { id: "color", name: gridjs.html('<div title="{{ columns_desc.color }}">Color</div>'), sort: false }];

    {% for item in results %}
    gridData.push([{{ item.cluster }},"{% ss_separator item.get_cluster_display '#' %}",{% format_scientific item.scz_2022_p %}, {% round_decimal item.spe_val %},{% round_decimal item.enrichment_score %}, gridjs.html(
      `<span style="background-color:#{% ss_separator item.get_cluster_display '#' 'color' %}" class="super-cluster"></span>`
    )]);
    {% endfor %}

    
    {% elif visualization == 'option1' %}

    gridColumns = [{ id: "name", name: gridjs.html('<div title="{{ columns_desc.name }}">Name</div>') },
    { id: "gene_number", name: gridjs.html('<div title="{{ columns_desc.gene_number }}">NCBI</br>gene number</div>') },
    {id:  "chr", name: gridjs.html('<div title="{{ columns_desc.gene_number }}">Chromosome</div>') },
    {id:  "start", name: gridjs.html('<div title="{{ columns_desc.gene_number }}">Start</br>Position</div>') },
    {id:  "stop", name: gridjs.html('<div title="{{ columns_desc.gene_number }}">End</br>Position</div>') },
    { id: "p_value", name: gridjs.html('<div title="{{ columns_desc.p_value }}">P-value</br>(schizophrenia)</div>') },
    { id: "specificity_rank", name: gridjs.html('<div title="{{ columns_desc.specificity_rank }}">Specificity</br>Rank</div>') },
    { id: "specificity_value", name: gridjs.html('<div title="{{ columns_desc.specificity_value }}">Specificity</br>Value</div>') },
    { id: "enrichment_score", name: gridjs.html('<div title="{{ columns_desc.enrichment_score }}">Enrichment</br>Score</div>') }]
    {% for item in results %}
    gridData.push(["{{ item.name }}", {{ item.gene }}, {{item.chr}},{{item.start}},{{item.stop}},{% format_scientific item.scz_2022_p %}, {{ item.spe_rank }}, {% round_decimal item.spe_val %},{% round_decimal item.enrichment_score %}]);

    {% endfor %}

    {% elif visualization == 'option4' %}








    gridColumns = [{ id: "cluster", name: "Cluster",width:120 },
    { id: "type", name: "Type" },
    {id:  "ngenes", name: "Ngenes",width:120 },
    {id:  "beta", name: "Beta" },
    {id:  "beta_std", name: "Beta STD" },
    { id: "se", name: "SE" },
    { id: "p", name: "P" },
    { id: "supercluster", name: "Super Cluster" ,width:200},
    { id: "class_auto_annotation", name: "Class Auto Annotation" },
    { id: "neurotransmitter_auto_annotation", name: "Neurotransmitter Auto Annotation" },
    { id: "neuropeptide_auto_annotation", name: "Neuropeptide Auto Annotation",width:500 },
    { id: "subtype_auto_annotation", name: "Subtype Auto Annotation" },
    { id: "transferred_mtg_label", name: "Transferred MTG Label" },
    { id: "top_three_regions", name: "Top Three Regions",width:500 },
    { id: "top_three_dissections", name: "Top Three Dissections" },
    { id: "top_enriched_genes", name: "Top Enriched Genes",width:500 },
    { id: "number_of_cells", name: "Number Of Cells" },
    { id: "doublet_finder_score", name: "Doublet Finder Score" },
    { id: "total_umi", name: "total UMI" },
    { id: "fraction_unspliced", name: "Fraction Unspliced" },
    { id: "fraction_mitochondrial", name: "Fraction Mitochondrial" },
    { id: "h19_30_002", name: "H19.30.002",width:150 },
    { id: "h19_30_001", name: "H19.30.001",width:150 },
    { id: "h18_30_002", name: "H18.30.002",width:150 },
    { id: "h18_30_001", name: "H18.30.001",width:150 },
    { id: "fraction_cells_from_top_donor", name: "Fraction Cells From Top Donor" },
    { id: "number_of_dissections", name: "Number Of Dissections" },
    { id: "top_dissection_percentage", name: "Top Dissection Percentage" },
    { id: "dissections", name: "Dissections",width:1000 }]


  {% for item in results %}
    gridData.push(["{{ item.cluster }}","{{ item.type }}", "{{ item.ngenes }}", "{{ item.beta }}", "{{ item.beta_std }}", "{{ item.se }}",
     "{{ item.p }}", "{{ item.supercluster }}", "{{ item.class_auto_annotation }}", "{{ item.neurotransmitter_auto_annotation }}", "{{ item.neuropeptide_auto_annotation }}", 
    "{{ item.subtype_auto_annotation }}", "{{ item.transferred_mtg_label }}", "{{ item.top_three_regions }}", "{{ item.top_three_dissections }}"," {{ item.top_enriched_genes }}", "{{ item.number_of_cells }}", 
     "{{ item.doublet_finder_score }}", "{{ item.total_umi }}", "{{ item.fraction_unspliced }}", "{{ item.fraction_mitochondrial }}", "{{ item.h19_30_002 }}", "{{ item.h19_30_001 }}", 
     "{{ item.h18_30_002 }}", "{{ item.h18_30_001 }}", "{{ item.fraction_cells_from_top_donor }}", "{{ item.number_of_dissections }}", "{{ item.top_dissection_percentage }}", "{{ item.dissections }}" ]);
  {% endfor %}




    {% endif %}

    {% if visualization != 'option0' %}
    document.addEventListener('DOMContentLoaded', function () { setDownloadInfo(gridColumns, gridData) })
    {% endif %}

    new gridjs.Grid({
      pagination: {
        limit: 30,
        summary: false,
        resetPageOnUpdate: false
      },
      sort: true,
      fixedHeader: true,
      search: true,
      columns: gridColumns,
      data: gridData,
      style: {
        table: {
          'border': '2px solid rgb(39, 42, 47)',
          'background-color': 'rgba(0, 0, 0, 0)'
        },

        th: {
          'color': '#000',
          'border': '2px solid #1b9d8c',
          'text-align': 'center',
          'background-color': 'rgb(101, 181, 171)',
          'font-size':'13px'
        },
        td: {
          // 'background-color': '#080c13',
          // 'color': 'rgb(144, 167, 174)',
          'background-color': '#ffffff',
          'color': '#080c13',
          'text-align': 'center',
          'border': '2px solid rgb(218, 227, 236)',
          // 'font-weight': 'bold'
        }
      }
    }).render(document.getElementById("results"));

    {% endif %}

  </script>



  <script src="{% static 'js/main.js' %}"></script>
  <script src="{% static 'js/gene_filter.js' %}"></script>
  <script src="{% static 'js/csv.js' %}"></script>
</body>

</html>